/**FONTS**/

@font-face {
    font-family: "Segoe";
    src: url(../fonts/segoe-ui.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Segoe" ;
    src: url(../fonts/segoe-ui.ttf) format("truetype");
    font-weight: 700;
}

/**VARIABLES**/

:root{
    --background-color : #fafafa;
    --white:#ffffff;
    --border-color:#d0d0d0 ;
    --placeholder-color:#837979;
    --or-text:#8e8e8e;
    --fb-logo:#385175;
    /* 0, 149, 246 */
    --log-in-button: rgba(0, 149, 246, 1);
    --black:#262626;
    --footer-links:#5b5b5b;
    --copyright-gray:#5b5b5b;
}

/**OVERWRITE BROWSER DEFAULT **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Segoe";
    background: var(--background-color);
}

/**LOG IN**/

/**LOG IN CONTAINER**/
.log-in {
    background: var(--white);
    width: 35rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d0d0d0;
    padding: 2rem 4rem;
    gap: 1.2rem;
    margin-top:4rem ;
    margin-bottom: 2rem;
    border-radius: 0.1rem;
}
main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/**logo**/
.logo {
    width: 19rem;
    margin-bottom: 0rem;
}
/**log in form**/
.log-in-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.log-in-form input,
.log-in-button {
    padding: 1rem 0 1rem 1rem;
    border-radius: 0.3rem;
}

/**styles in common for the placeholder and fields**/
.log-in-form input,
.log-in-form input::placeholder {
    font-size: 1.1rem;
    font-family: "Segoe";
}
/**form fields**/
.log-in-form input {
    background: var(--background-color);
    border: 0.1rem solid var(--border-color);
    outline: none;
}

/**username text**/
.log-in-form input[type="text"] {
    margin-bottom:0.5rem ;
}
/**placeholder for text fields**/
.log-in-form input::placeholder{
    color: var(--placeholder-color);

}
/**styles for text fields when they are focused**/
.log-in-form input:focus{
    border-color: var(--border-color);

}
/**log in button**/
.log-in-button {
    background: var(--log-in-button);
    border-radius: .6rem;
    opacity: 0.7;
    color: var(--white);
    margin: 2rem 0;
    font-weight: 700;
    outline: none;
    cursor: normal;
    border: none;
}

.log-in-button[data-active="true"] {
    opacity: 1;
    cursor: pointer;
}
/**or divider**/
.or-divider {
    color: var(--or-text);
    font-weight: 700;
    position: relative;
    font-size: 1.2rem;
}
.or-divider::before,
.or-divider::after {
    content: "";
    display: block;
    width: 11rem;
    height: .5px;
    position: absolute;
    background: var(--border-color);
    top: 50%;
}

.or-divider::before{
    left: 3rem;
}
.or-divider::after{
    right: 3rem;
}
/**log in with facebook**/
.fb-login {
    margin: 1.5rem 0;   
}
.fb-login a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: column;
}
.fb-login img{
    width: 1.5rem;
    margin-right: 0.5rem;
}
.fb-login span {
    font-size: 1.3rem;
    color: var(--fb-logo);
    font-weight: 700;
}
/**forgot passwd**/
.forgot-password {
    color: var(--fb-logo);
    font-size: 1.2rem;
}

/**SIGN UP**/
.sign-up {
    background: var(--white);
    width: 35rem;
    margin: 0 auto;
    border: 0.1rem solid var(--border-color);
    padding: 2rem;
    text-align: center;

}
/**don't have an account**/
.sign-up span {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}
/**sign up link**/
.sign-up a {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--log-in-button);

}

/**GET THE APP**/

/**container**/
.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
   width: 35rem;
   margin: 0 auto;
   margin-top: 1.5rem;
}
/**get the app text**/
.get-the-app span {
    display:block;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}
.app-images img {
    width: 13rem;
}

/**first image**/
.app-images img:nth-child(1){
    margin-right: 1rem;
}

/**PHONES**/
.phones-container {
    display: none;
}

/**FOOTER**/
footer { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem auto 0 auto;
}

/**UL**/
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.footer-links li {
    text-align: center;
}

.footer-links a {
  color: var(--footer-links);
  font-weight: 700;
  display: inline-block;
  margin-bottom: 1rem;
}
.footer-links a:hover {
    text-decoration: underline;
}
.copyright {
    text-align: center;
    color: var(--copyright-gray);
    font-weight: 700;
    font-size: 1.2rem;
}